
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#cuadrado">Cuadrado</a>
        </h4>
    </div>
    <div id="cuadrado" class="panel-collapse in">
        <div class="panel-body">
            <p>
                <label>Lado:</label> <input type="number" id="ladoCuadrado" />
            </p>
            <p>
                <div id="btnAreaCuadrado" class="btn btn-primary">Area cuadrado (jQuery)</div>
                <span> = <span id="resAreaCuadrado">?</span> m<sup>2</sup>.</span>
            </p>
            <p>
                <div id="btnPerimetroCuadrado" class="btn btn-success">Perimetro cuadrado (jQueryAjax)</div>
                <span> = <span id="resPerimetroCuadrado">?</span> m.</span>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">

    Math.areaCuadrado = function (lado) {
        return lado * lado;
    };

    // Usando jQuery:
    //      Subscribirse a los eventos de los botones
    //      Resolver el area del cuadrado llamando a la funcion Math.areaCuadrado
    //      Resolver el perimetro llamando por Ajax a /Math/PermietroCuadrado?lado={valor}

</script>
