
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#triangulo">Triangulo</a>
        </h4>
    </div>
    <div id="triangulo" class="panel-collapse in">
        <div class="panel-body">
            @Html.ActionLink("Area triangulo (MVC)", "Area", "Triangulo", null, new { @class = "btn btn-primary", role = "button" })
        </div>
    </div>
</div>

