@model PruebaTecnica.Models.Triangulo

<h2>Area triángulo</h2>

<form method="post">

    <div id="areatriangulo" class="panel-collapse in">
        <div class="panel-body">
            <p>
                <label>Base:</label>
                @Html.TextBoxFor(x => x.Base, "")
            </p>
            <p>
                <label>Altura:</label> 
                @Html.TextBoxFor(x => x.Altura, "")
            </p>
        </div>
    </div>

    <button type="submit">Calcular</button>
</form>

@if (IsPost)
{
    <p>
        <label>Area:</label> 
        @Html.TextBoxFor(x => x.Area, "")
    </p>
}